@charset "utf-8";
$textColor: rgb(109, 109, 109);
$line: rgba(206, 206, 206, 0.322);
$shadow: 1px 1px 1px rgba(221, 221, 221, 0.281),
  -1px -1px 1px rgba(255, 255, 255, 0.9);
$myBlack: rgb(30, 30, 30);
$Orange: rgb(150, 100, 50);
$darkBlue: rgba(27, 37, 73, 0.8);
$night: #213a63de;
$grege: #b4ad9b27;
$beige: #634130;

html {
  background: $grege;
  // font-size: 70%;
  color: $darkBlue;
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  // overflow-x: hidden;
  font-family: adobe-text-pro, vdl-v7gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  // letter-spacing: 0.1em;
  line-height: 3;
  font-feature-settings: "palt" 1, "swsh" 1;
  background:rgba(255, 255, 255, 0.5);
  width: 100vw;
  filter: drop-shadow(0 0 2px white);
}
header,
footer {
  // width: 100vw;
  background: $grege;
  margin: 0;
  padding: 10px;
  img{
    width: 50px;
  }
  a {
    text-decoration: none;
    color: $Orange;
    margin: 10px;
    &:visited,
    &:link {
      color: $Orange;
    }
  }
  p{
    margin: 0 auto;
  }
}
p{
  font-size: 130%;
  font-weight: 700;
  text-align: left;
}
body {
  margin: 0 auto;
}
.linkBar {
  // max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    display: block;
    width: fit-content;
    border-radius: 5%;
  }
}

.list_table {
  overflow-x: scroll;
  table {
    margin: 0 auto;
    max-width: 700px;
    border-spacing: 0;
    min-width: 250px;
    tr{
      border-bottom: 1px solid $Orange;
    }
    th,
    td,
    tr{
      justify-content: space-between;
      padding: 0 15px;
      display: flex;
      white-space: nowrap;
      a{
        display: block;
        padding: 0 5px;
      }
    }
  }
}

main{
  // width: clamp(300px,500px,100vw);
  background:rgba(255, 255, 255, 0.8);
  // width: max-content;
  margin: 0 auto;
  min-height:80vh;
  h1 {
    margin: 10px;
    padding: 10px;
    line-break: 18px;
  }
  a{
    text-decoration: none;
    background: $night;
    color: whitesmoke;
    padding: 0 2em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: $shadow;
    // width: 90vw;
    display:block;
    margin: 1% auto;
  }
  .title{
    background: url('../imgs/keep.jpg') left 0% / cover no-repeat ;
    font-size: 120%;
    h1,
    h2,
    p{
      padding: 0;
      margin: 0;
    }
    p{
      margin: 50px auto 0;
      filter: drop-shadow(0 0 1px $darkBlue);
      color:white;
    }
    h1{
      span {
        display: block;
        min-width: 300px;
        background: $night;
        color: whitesmoke;
        padding: 0;
        font-size: 80%;
        margin: auto;
        // border-radius: 5px;
      }
    }
  }
}
.all {
  // width: fit-content;
  margin: 0 auto;
  padding: 0;
  min-height: 68vh;
  font-size: 110%;
}

.desc{
  p{
    background: $grege;
    margin: 30px 2%;
    padding: 0 1em ;
    max-width: 90vw;
    text-align: left;
    font-weight: 400;
 
  }
}
nav {
  margin: 10px auto 0;
  min-width: max-content;
  color: $Orange;
}

summary{
  background: $night;
  color: whitesmoke;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: $shadow;
  width: 300px;
  display:block;
  margin: 3% auto;
}

form {
  margin: 0 auto;
  font-size: 140%;
  border-radius: 5px;
  text-align: initial;
  background: $grege;
  padding: 50px 5%;
  max-width: 700px;

  div{
    margin: 20px auto;
    background:white;
    padding: 30px 2%;
    max-width: 90vw;
    border: 1px solid;
    text-align: center;
  }
}
label {
  input,
  textarea,
  select {
    // background: linear-gradient(to bottom,transparent,rgba(212, 161, 102, 0.2));
    background: transparent;
    cursor: pointer;
    color: black;
  }
  .textInput,
  select,
  textarea {
    border: none;
    border-radius: 5px;
    width: 94%;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px inset rgb(116, 116, 116),
      -1px -1px 1px inset rgb(133, 133, 133);
  }
  select {
    border: none;
    width: 100%;
    color: $darkBlue;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px inset rgb(116, 116, 116),
      -1px -1px 1px inset rgb(133, 133, 133);
  }
}
button {
  border: none;
  background: $night;
  color: whitesmoke;
  font-size: 1em;
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
p{
  text-align: center;
}
.reset {
  background: rgba(46, 46, 46, 0.158);
}




fieldset {
  margin: 1% auto;
  padding: 2%;
  max-width: 700px;
  img{
    width: 100%;
  }

  legend{
    font-size: 300%;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}


.cancel{
  width: fit-content;
  padding: 0 1em;
  display: block;
  text-align: center;
}