@charset "utf-8";
$textColor: rgb(109, 109, 109);
$line: rgba(206, 206, 206, 0.322);
$shadow: 1px 1px 1px rgba(139, 135, 124, 0.61), -1px -1px 1px rgba(194, 177, 146, 0.582);
$myBlack: rgb(30, 30, 30);
$Orange: rgb(150, 100, 50);
$darkBlue: rgba(27, 37, 73, 0.8);
$night: #1a3664;
$grege: #80786630;
$beige: #634130;

html {
  background: $grege;
  font-size: 70%;
  color: $night;
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  font-family: adobe-text-pro, vdl-v7gothic, sans-serif;
  font-weight: 600;
  font-style: normal;
  // letter-spacing: 0.1em;
  line-height: 3;
  font-feature-settings: "palt" 1, "swsh" 1;
  // transform-style: preserve-3d;
  // perspective: 10px;

  }
  a{
    text-decoration: none;
    color:$Orange;
    margin: 10px;
    &:visited,
    &:link{
      color:$Orange;
    }
  }
 
  nav {
    margin: 10px auto 0;
    min-width: max-content;
    color: $Orange;
  }

body{
  width:clamp(300px,100vw,100%);
  margin:0 auto;
  // height:100%;

}

form{
  margin:30px auto;
  width: fit-content;
  padding: 30px 40px;
    // border: 1px solid black;
    border-radius: 5px;
    text-align: initial;
    box-shadow: 
    1px 1px 1px rgb(117, 117, 117)
    ,-1px -1px 1px rgb(236, 236, 236)
    ;

}
label{
  input,textarea,select{
    // background: linear-gradient(to bottom,transparent,rgba(212, 161, 102, 0.2));
    background: linear-gradient(transparent,rgba(202, 197, 180, 0.555));
    cursor: pointer;
  }
  .textInput,select,textarea{
    border: none;
    border-radius: 5px;
    width:94%;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 
    1px 1px 1px inset rgb(117, 117, 117)
    ,-1px -1px 1px inset rgb(236, 236, 236)
    ;
  }
  select{
    border: none;
    width:100%;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 
    1px 1px 1px inset rgb(117, 117, 117)
    ,-1px -1px 1px inset rgb(236, 236, 236)
    ;
  }
}
button{
  border: none;
  background:rgba(245, 245, 245, 0.5);
  font-size: 1em;
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}
.reset{
  background: rgba(46, 46, 46, 0.158);
}


header,footer{
  background: $myBlack;
  padding: 10px;
}


h1{
  margin: 0;
  padding: 10px;
}
p{
  margin: 15px;
}


.all{
  background: $grege;
  margin: 0 auto;
  padding:clamp(5px, 10px, 30px);
  min-height: 400px;
  // height: 100%;
  a {
    background: rgba(245, 245, 245, 0.5);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 1em 2em;
    box-shadow: $shadow;
  }
}
.appDesc{
  max-width: 400px;
  margin: 0 auto;
  fieldset{
    margin: 10px;
    padding: 20px;
    ul,li{
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
.linkBar{
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-between;
    a{
      display: block;
      border-radius: 5%;
    }
  }

table{
  margin: 0 auto;
  border-spacing: 0;
    th,td,tr{
    padding: 1em 5px;
    border-bottom: 1px solid $Orange;

  }
}