@charset "utf-8";
$textColor: rgb(109, 109, 109);
$line: rgba(206, 206, 206, 0.322);
$shadow: 1px 1px 1px rgba(221, 221, 221, 0.281),
  -1px -1px 1px rgba(255, 255, 255, 0.9);
$myBlack: rgb(30, 30, 30);
$Orange: rgb(150, 100, 50);
$darkBlue: rgba(27, 37, 73, 0.8);
$night: #1a3664;
$grege: #b4ad9b27;
$beige: #634130;

html {
  background: $grege;
  font-size: 70%;
  color: $darkBlue;
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  font-family: adobe-text-pro, vdl-v7gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  // letter-spacing: 0.1em;
  line-height: 3;
  font-feature-settings: "palt" 1, "swsh" 1;
  // transform-style: preserve-3d;
  // perspective: 10px;
}
     
main{

  background: $grege;
  a {
    text-decoration: none;
    border: none;
    background: $night;
    color: whitesmoke;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: $shadow;
  }
}

nav {
  margin: 10px auto 0;
  min-width: max-content;
  color: $Orange;
}

body {
  width: clamp(300px, 100vw, 100%);
  margin: 0 auto;
  // height:100%;
}

form {
  margin: 0 auto;
  width: 220px;
  // padding: 30px 40px;
  // border: 1px solid black;
  border-radius: 5px;
  text-align: initial;
  // box-shadow:
  // 1px 1px 1px rgb(117, 117, 117)
  // ,-1px -1px 1px rgb(255, 255, 255)
  // ;
}
label {
  input,
  textarea,
  select {
    // background: linear-gradient(to bottom,transparent,rgba(212, 161, 102, 0.2));
    background: transparent;
    cursor: pointer;
    color: black;
  }
  .textInput,
  select,
  textarea {
    border: none;
    border-radius: 5px;
    width: 94%;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px inset rgb(116, 116, 116),
      -1px -1px 1px inset rgb(133, 133, 133);
  }
  select {
    border: none;
    width: 100%;
    color: $darkBlue;
    font-size: 1em;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px inset rgb(116, 116, 116),
      -1px -1px 1px inset rgb(133, 133, 133);
  }
}
button {
  border: none;
  background: $night;
  color: whitesmoke;
  font-size: 1em;
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.reset {
  background: rgba(46, 46, 46, 0.158);
}

header,
footer {
  background: $myBlack;
  padding: 10px;
  a {
    text-decoration: none;
    color: $Orange;
    margin: 10px;
    &:visited,
    &:link {
      color: $Orange;
    }
  }
}

h1 {
  margin: 10px;
  padding: 10px;
  line-break: 18px;
}

.all {
 
  margin: 0 auto;
  padding: clamp(5px, 10px, 30px);
  min-height: 400px;
  // height: 100%;
  // width: 300px;
  
}
span {
  background: $night;
  color: whitesmoke;
  padding: 1em 2em;
  border-radius: 5px;
}
.desc {
  max-width: 300px;
  margin: 0 auto;
  fieldset {
    margin: 10px;
    padding: 20px;
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
.linkBar {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    display: block;
    border-radius: 5%;
  }
}

table {
  margin: 0 auto;
  border-spacing: 0;
  th,
  td,
  tr {
    padding: 1em 5px;
    border-bottom: 1px solid $Orange;
  }
}
