@charset 'utf-8';

html,
body {
  font-size: 90%;
  font-family: vdl-v7gothic;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.imgHolder{
  img{
    filter:contrast(.7);
    width: 100%;
    margin: auto;
    max-width: 738px;
    display: block;

  }
}

span {
  color: rgb(18, 149, 209);
}

p {
  line-height: 3em;
  text-align: justify;
}
small {
  display: block;
  text-align: center;
}
h1 {
  color: snow;
  filter: drop-shadow(0 0 1px dimgrey);
  margin: auto;
  text-align: center;
}
.base {
  max-width: 700px;
  min-width: 300px;

  background: rgb(189, 189, 188);
  // background: rgb(235, 179, 95);
  padding: 5px 20px;
  margin: auto;
  border-radius: 5px;
}
.header {
  display: flex;
  filter: drop-shadow(0 0 1px rgba(255, 250, 250, 0.5));

  i,
  img {
    min-width: 50px;
    max-width: 100px;
    display: block;
    margin: auto;
    text-align: center;
  }
  i {
    font-size: 200%;
    color: snow;
    filter: drop-shadow(0 0 1px dimgrey);
  }
}
form {
  width: 100%;
  display: block;
  padding: 10px 0;
  background: snow;
  margin: 10px auto;
  text-align: right;
  border-radius: 5px;
  filter: drop-shadow(0 0 1px grey);
  input {
    border-radius: 5px;
    // color:snow;
    width: 80%;
    // padding: 3px 2em;
    margin: auto;
  }
}
.container {
  display: flex;
  padding: 20px 0;
  filter: drop-shadow(0 0 1px grey);
}
.triangle_left {
  width: 0;
  margin-top: 20px;
  height: 0;
  border: 5px solid transparent;
  border-right-color: rgb(18, 149, 209);
}
.triangle_right {
  width: 0;
  margin-top: 20px;
  height: 0;
  border: 5px solid transparent;
  border-left-color: rgb(18, 149, 209);
}
.bot {
  background: snow;
  color: darkslategrey;
  width: fit-content;
  text-align: left;
  max-width: 250px;
  margin: 0 20px 0 0;
  // height: 100px;
  border-radius: 5px;
  padding: 0 10px;
  color: ivory;
  background: rgb(18, 149, 209);
}
.human {
  // background: snow;
  // color: darkslategrey;
  width: fit-content;
  color: ivory;
  background: rgb(18, 149, 209);
  text-align: right;
  margin: 0 0 0 auto;
  // height: 100px;
  border-radius: 5px;
  padding: 0 10px;
}
.acount {
  border-radius: 50%;
  color: ivory;
  background: rgb(18, 149, 209);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  border: 1px solid snow;
}
.wall_color {
  background: snow;
  border-radius: 5px;
  height: 50vh;
}

button {
  background: rgb(18, 149, 209);
  color: snow;
  padding: 0 1em;
  border-radius: 5px;
}
