@charset "utf-8";
$textColor : rgb(109, 109, 109);
$line:rgba(206, 206, 206, 0.5);
$shadow: 0px 0px 5px rgba(180, 180, 180, 0.5) ;
$myBlack:rgb(30,30,30);
$Orange:rgb(150, 100, 50);

html,body{
  color:$myBlack;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow-x: hidden;
  font-family: adobe-text-pro,vdl-v7gothic, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-feature-settings: "palt"1,"swsh" 1;
  
  a{
    text-decoration: none;
  }
  nav{
    font-size:small;
    margin:auto;
    min-width: max-content;
    color:white;
    a{
      margin :auto;
      text-align:left;
      margin:5px;
      // color:$Orange;
    }
    ul{
      margin:0;
    }
  }
}

header{
  background: $myBlack;
  .headerContainer{
    animation: toDown 2s forwards;
    display:flex;
    padding:40px 20px 20px;
    img{
      opacity:0;
      animation:flash 10s infinite;
    }
    .logo{
      margin:auto;
    }
    .inHeader{
      margin:0 auto;
      animation: toDown 5s forwards;
      // opacity:0;
      // animation: zoomIn 6s forwards 1s;
    }
    h1{
      margin:1em auto;
      flex-flow: 1;
      font-size: 42px;
      animation: rum-col 30s infinite;
    }
    h2{
      color:rgba(255, 255, 240, 0.5);
      font-size:9px;
      letter-spacing:.9em;
      transform:translateY(-30px);
      text-align: center;
      //  animation:vib 5s infinite 11S;
    } 
    //   @keyframes vib{
      //  0%{transform:translate(0px,-21px);}
      //  1%{transform:translate(1px,-19px);}
      //  2%{transform:translate(-1px,-21px);}
      //  100%{transform:translate(1px,-20px);}
      //   }
      // }
    a{
      color:white;
      text-decoration: none;
      &:visited{
        color:white;
      }
      &:hover{
        transform: scale(.98);
      }
    }
  }
  @keyframes rum-col {
    0% {color: rgb(200, 140, 80);}
    10% {color: rgb(134, 70, 33);}
    20% {color: rgb(163, 24, 0);}
    30% {color: rgb(134, 0, 101);}
    40% {color: rgb(71, 1, 163);}
    50% {color: rgb(28, 35, 100);}
    60% {color: rgb(0, 94, 138);}
    70% {color: rgb(1, 122, 102);}
    80% {color: rgb(1, 110, 28);}
    90% {color: rgb(113, 126, 0);}
    100% {color: rgb(185, 157, 0);}
  }
  
  .headerOpenMenu{
    padding:0px;
    color:$Orange;
    animation:fade 3s forwards 7s;
    filter: opacity(0);
    transition-duration: 1s;
    &:hover{
      background:none;
      filter: opacity(1);
    }
    summary{
      opacity: 0;
      text-shadow:0px 0px 10px rgb(151, 98, 52), -1px -1px 20px rgba(192, 192, 192, 0.5);
      padding:20px;
      text-align: center;
      font-size: x-large;
      padding-right: 300px;
      animation: delay 2s infinite 7s;
      position: absolute;
      top:20px;
      right:50px;
      outline:1px solid silver;
    }
    &:hover{
      opacity: 1;
      cursor: pointer;
      background:white;
    }
    p,a,li{
      font-size: 16px;
      color:forestgreen;
      margin:5px 0;
    }
    a{
      &:hover{
        box-shadow: 0 0 2px rgba(192, 192, 192, 0.5);
        border-radius: 5px;
        cursor: pointer;
      }
      &:link,&:visited{
        color:forestgreen;
        animation: flash 12s infinite;
      }
    }
    .fl{
      background:rgb(250, 250, 250);
      height:fit-content;
      display: flex;
      flex-wrap: nowrap;
      margin:30px;
      padding: 50px;
      border-radius: 10px;
      background: rgba(10, 10, 10, 0.4);
      background: rgba(165, 165, 165, 0.5);
      >div{
        margin:0 auto;
        padding:0 50px;
        border-radius: 5px;
        // box-shadow:-1px -1px 2px rgb(230, 230, 230),1px 1px 2px black;
      }
      .siteLogo{
        flex-grow: 1;
        margin:0 auto;
        animation: flash 5s infinite;
        text-align: center;
        color: $Orange;
        height:fit-content;
        // box-shadow:-1px -1px 2px rgb(230, 230, 230),1px 1px 2px black;
        border-radius: 5px;
        img{
          padding:30px;
        }
        h2,h3{
          font-family: adobe-text-pro,vdl-v7gothic, sans-serif;
          font-weight: 200;
          font-style: normal;
        }
        h3{
          font-size: small;
        }
      }
    }
    details[open]{
      height: 100vh;
      summary{
        padding: 30px;
        &::after{
          content:"close";
          margin-left: 2em;
        }
      }
      hr{
        width: 50%;
        border: 1px outset forestgreen;
        margin:50px;
      }
    }
  }  
}



main{
  width:1000px;
  margin:0 auto;
  h1{
    font-size: 26px;
    color:$Orange;
    display:block;
    background:white;
    box-shadow: $shadow;
    margin:50px auto;
    padding:1em;
    text-align: initial;
    border-left: solid 20px $myBlack;
    border-radius: 0 10px 10px 0;
  }
  .headLine {
   animation:delay 13s forwards;
   box-shadow: $shadow inset;
   margin-bottom:10px;
   display: flex;
   font-size: small;
   padding:10px;
   .gestForm{
     margin:auto;
    }
    .button{
      color:white;
      padding:.5em 1em;
      margin:5px;
      font-size: 12px;
      background:$line;
      border-radius: 6px;
      border:1px solid silver;
    }
    p{
      margin:auto;
    }
  }
  .discription{
    margin:60px;
    p{
     color: $Orange;
     text-align: center;
    } 
  }
  .fastView{
    animation: toUp 3s forwards;
    display:flex;
    flex-wrap: no-wrap;
    img{
      filter: saturate(.5);
    }
    .concept{
      width:calc(100% - 400px);
      background:url(../imgs/myLogoWhite.png)top 90% left 90% / 20% content-box no-repeat;
      // h1{
        // animation: typing 5s steps(20) 1s forwards,cursor .5s infinite;
        // letter-spacing: 3px;
        // overflow: hidden;
        // left:27ch;
        // transform: translateX(-24ch);
        // opacity: 0;
        // position:relative;
        // width:34ch;
        // white-space: nowrap;
        // border-right: 1px solid black ;
        // @keyframes typing{
          //   0%{width:0em;opacity: 1;}
          //   100%{width:34ch;opacity: 1;}
          // }
          // @keyframes cursor{
            //   0%{border-right-color: black;}
            //   100%{border-right-color:transparent;}
            // }
      // }
      div{
        margin: 60px;
        :nth-child(4){
          text-align: right;
        }
        h2,h3,h4,p{
          width: fit-content;
          margin:20px auto;
          line-height:4;
          em{
            margin:30px;
            color: $Orange;
          }
        }
      }
    }
  }
  .contentsArea{
    .cell{
      min-width:370px;
      background:$line;
      box-shadow: $shadow;
      overflow-x: hidden;
      overflow-y: scroll;
      height:360px;
      margin:20px;
      img{
        height:auto;
      }
    }
    .coadingArea{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      padding:20px 60px;
      margin:3px;
      p{
        width:calc(100%-300px);
      }
    }
    .designArea{
      // display: flex;
      // flex-wrap: wrap;
      // justify-content:space-between;
      padding:50px;
      .design_des{
        display: flex;
        justify-content:space-between;
        margin:50px 0;
        // padding: 100px;
        // border-radius: 10px;
        // box-shadow: $shadow;
        p{
          line-height: 3;
          margin:auto 50px;
          width:calc(100% - 370px);
          a{
            // padding:0 50px;
            margin:auto 0;
            // text-decoration: none;
            color:$myBlack;
          }
        }
      }
    }
  }
  
    .wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      line-height: 2;
      div{
        margin:50px 10px;
      }
      dl{
        min-width: 300px;
        dt{
          font: 400;
          background:white;
          box-shadow: $shadow;
          padding:1em;
          margin:10px 10px 30px;
          border-radius: 6px;
        }
        dd{
          padding:5px 20px;
        }
      }

      .info1{
        h2,h3{
          text-align: center;
        }
        img{
          margin:0 25px;
          box-shadow: $shadow;
        }
      }
      .charaInfo{
        flex-basis: 500px;
        flex-grow: 1;
        font-family: noto-sans-cjk-jp;
        font-weight: 200;
        font-style: normal;
        
      }
      .infoList{
        flex-grow: 1;
        i{
          margin-right: 15px;
        }
        .html5{
          color: rgb(255, 0, 0);
        }
        .css3{
          color: rgb(62, 152, 255);
        }
        .scss{
          margin-right: initial;
          color: rgb(225, 0, 255);
        }
        .js{
          color:rgb(228, 213, 0);
        }
        .p5::before{
          content:'P';
          font-family:vdl-v7gothic, serif;
          background:rgb(0, 52, 119);
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          color: #FFF;
          font-weight: bold;
          border-radius: 50%;
          font-size: 5px;
          margin-right: 15px;
        }
        .php{
          color:rgb(102, 66, 122);
        }
        .wp{
          color:rgb(0, 140, 255);
        }
        .git{
          color:rgb(221, 64, 36);
        }
        .adobe{
          color:rgb(209, 18, 18);
        }
        .pc{
          color:rgb(88, 88, 88);
        }
        .docker{
          color:rgb(0, 162, 255);
        }
      }
      .dtext1,.dtext2{
        flex-grow: 1;
        dd{
          &:before{
            margin-right: 10px;
            content: "□";
            color: $Orange;
          }
        }
      }
    }
  }


footer{
  margin-top:200px;
  >p {
    margin:0;
    color:$Orange;
    background:$line;
    text-align: center;
    padding:20px;
    a{
      padding:20px;
    }
  }
  .footerContainer{
    background: $myBlack;
    display:flex;
    padding:20px 40px;
    color:$Orange;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        transform: scale(.98);
      }
    }
    nav{
      margin:20px;
    }
    .logo{
     margin :auto;
     opacity:0;
     animation:flash 10s infinite;
    }
    @keyframes flash{
     0%{opacity: 0;}
     25%{opacity: .7;}
     35%{opacity: .7;}
     36%{opacity: .5;}
     37%{opacity: .8;}
     95%{opacity: 0;}
     95%{opacity: .9;}
     97%{opacity: .1;}
     98%{opacity: .6;}
     99%{opacity: .5;}
     100%{opacity: .9;}
    }
    .inFooter{
      margin:auto 0;
      h1{
        font-size:12px;
        text-align:right;
        &:hover {
          // animation: delay 2s;
          text-shadow:0 0 2px 20px white;
        }
      }
      p{
        text-align:right;
      }
    }
  }
}

  @keyframes toUp {
    0%{opacity: 0; transform: translateY(200px);}
    100%{opacity: 1;transform: translateY(0px);}
  }
  @keyframes toDown {
    0%{ transform: translateY(-200px);}
    98%{ transform: translateY(0px);}
    99%{ transform: translateY(-2px);}
    100%{transform: translateY(0px);}
  }
  @keyframes delay {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  // @keyframes zoomIn{
  //   0%{opacity: .1;transform: scale(5);}
  //   30%{opacity: .3;transform: scale(.5);}
  //   100%{opacity: 1;transform: scale(1);}
  // }

.jsTest{
    background:pink;
    // position: absolute;

    // left:20px;
    opacity:.9;

  // background-color:pink;
  transform:rotate(360deg);
  // transform:translate(2px,2px);
  border-radius: 50%;
  
}
fieldset{
  padding:30px;
  width:500px;
  text-align: center;
  p{
    display: list-item;
  }
}

.characterPage{
  img{
    filter:drop-shadow(0 0 10px rgb(206, 206, 206));
  }
  .personalType{
    padding:0 50px;
  }
  .infoWrap{
    display: flex;
    padding:50px auto;
    justify-content: space-around;
  }
  .intpType{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p.intp{
      font-size: 30px;
      text-align: center;
      color:rgb(67, 44, 95);
      width: 150px;
      height: 150px;
      line-height: 150px;
      text-shadow: 1px 0 white,0 1px white,-1px 0 white,0 -1px white;
      margin:20px;
      border-radius: 50%;
      background: url(../imgs/unsplash.jpg) top left;
      background-size:150px;
      box-shadow:0 0 15px grey;
    }
    div{
      margin:auto 50px;
    }
    dl{
      margin:auto;
      text-align: initial;
      dt{
        font-size: 20px;
        font-weight: bold;
        padding:10px;
      }
      dd{
        margin:1em;
        font-size: 12px;
        &:before{
          content:"　" + "\025b6" + "　";
        }
      }
    }
  }
  b{
    display: block;
    text-align: right;
    margin:50px 100px;
  }

  blockquote{
    line-height: 2em;
    padding:50px;
    margin:50px auto;
    width: 700px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    border-radius: 6px;
    background: rgba(184, 184, 184, 0.5);
    b{
      margin: 1em;
    }
  }
  
    .infoIntro
    {
      padding:10px;
      text-align: center;
    }
  }
  

 

  .tra3d{
    transform-style: preserve-3d;
  }