@charset "UTF-8";
@import "index.scss" ;

$pointColor:rgb(194, 194, 194);
$pColor:rgb(77, 41, 0);

html,body{
  background:$myBlack;
  // rgb(201, 201, 201);
  //以下はグレー
  // $line;
  font-feature-settings: "palt"1,"swsh" 1;
  color:$Orange;
  font-family: itc-american-typewriter, sans-serif;
  font-style: normal;
  font-weight: 300;
      // animation:fade 3s forwards;
      /* overflow:hidden; */
  .homeGroup{
    padding:0 5%;
    height:100%;
  }
  // @mixin copyStyle($display:inline,$anima:fade 2s forwards){
  // display:$display;
  // animation:$anima;
  // }
  .copy{
    animation:flash 2s infinite 10s;
    p{
      text-shadow:0px 0px 5px rgba(151, 98, 52, 0.5);
      transition:text-shadow 3s ease 8s ;
      font-size:60px;
      padding-left:1em;
      display: inline-block;
    }
    .item1{
    animation:fade 1s forwards 2s;
    opacity:0;
    }
    .item2{
    opacity:0;
    animation:fade 2s forwards 2.5s;
    }
    .item3{
    opacity:0;
    animation:fade 2s forwards 3s;
    }
    .item4{
    opacity:0;
    animation:fade 2s forwards 4s;
    }
  }
  @keyframes  fade{
    0%{opacity:0}
    100%{opacity:1}
  }

  .logo{
    display:flex;
    margin:5%;
    img{
      filter: opacity(.9);
      opacity:0;
      width:200px;
      height:250px;
      padding:0;
      animation:flash 14s infinite;
      
    }
    @keyframes flash{
     0%{opacity: 0;}
     1%{opacity: .3;}
     2%{opacity: 0;}
     3%{opacity: .3;}
     4%{opacity: 0;}
     6%{opacity: .5;}
     9%{opacity: 0;}
     25%{opacity: .7;}
     35%{opacity: .7;}
     36%{opacity: .5;}
     37%{opacity: .8;}
     95%{opacity: 0;}
     95%{opacity: .8;}
     97%{opacity: .9;}
     98%{opacity: .6;}
     99%{opacity: .5;}
     100%{opacity: .9;}
    }
    .nameBar{
      display:inline-block;
      margin:auto;
      h1{
        opacity:0;
        animation:fade 8s forwards 5s;
        letter-spacing: .2;
        font-family: adobe-text-pro,serif;
        font-weight: 300;
        font-size:48px;
        font-style: normal;
        text-shadow: .5px 0 white,0 .5px white,-.5px 0 white,0 -.5px white
        ,2px 2px 5px rgba(0, 0, 0, 0.5)
        ,7px 7px 5px rgba(0, 0, 0, 0.5)
        ,12px 12px 5px rgba(0, 0, 0, 0.5)
       ;
        font-size:55px;
        color:$myBlack;
        }
        h2{
          animation:fade 9s forwards 6s;
          opacity:0;
          margin:5px auto;
          font-size:10px;
          font-weight: 200;
          letter-spacing:.9em;
          transform:translateY(-10px);
          color:rgba(255, 255, 255, 0.5);
          text-shadow: 2px 2px 5px black;
        }
      }
    }
  .linkbtn{
    a{
      display:block;
      text-align:right;
      margin-right:10%;
      font-size: 20px;
      animation: delay 2s infinite 9s;
      color:$Orange;
      padding:1em;
      opacity: 0;
      text-decoration: none;
      border-radius: 4px;
    }
    @keyframes delay {
      0%{opacity: .3;}
      100%{opacity: 1;}
    }
  }
}
